:root {
  --header-color: #030816b3;
  --target-color: #c09139;
  --hover-color: #805A13;
  --active-color: #48330C;
  --text-color: #fafafa;
  --popup-color: #2a1d15;
  --shadow-color: #d4a244;
  --mapp-color: #2c4672;
  --transition-ive: all 0.3s ease;
  --font-shrift: 'Cruinn', sans-serif;
  --font-shrift-weight: 300 !important;
}

@font-face {
  font-family: 'Cruinn';
  src: url('../../../public/Cruinn/Cruinn Medium.ttf') format('truetype'), url('../../../public/Cruinn/Cruinn Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cruinn';
  src: url('../../../public/Cruinn/Cruinn Light.ttf') format('truetype'), url('../../../public/Cruinn/Cruinn Thin.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Cruinn', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center; 
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center; 
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  background-image: url(../../assets/Mapp.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
}

header {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  background-color: var(--header-color);
  z-index: 1001;
  width: 100vw;
  height: 120px;
  padding-top: 34px;
  top: 0;
  color: var(--text-color);
}

header img {
  margin-left: 160px;
}

header h1 {
  font-family: var(--font-shrift);
  font-weight: var(--font-shrift-weight) !important;
  font-style: normal;
  font-size: 36px;
  margin-top: 8px;
  letter-spacing: 0.2px;
  margin-left: 12px;
}

header button, .RussianFon button {
  border-radius: 15px;
  font-weight: var(--font-shrift-weight) !important;
  font-style: normal;
  font-size: 18px;
  right: 162px;
  padding: 15px 22px 15px 22px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
  color: var(--target-color);
  background-color: transparent;
  border: 2px solid var(--target-color);
  box-shadow: 0px 0px 10px 0px var(--shadow-color);
  position: absolute;
}

header button:hover,
.RussianFon button:hover {
  transition: color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
  color: var(--hover-color);
  border: 2px solid var(--hover-color);
  box-shadow: 0px 0px 10px 0px var(--hover-color);
}

header button:active,
.RussianFon button:active {
  transition: color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
  color: var(--active-color);
  border: 2px solid var(--active-color);
  box-shadow: 0px 0px 10px 0px var(--active-color);
}

.RussianFon button {
  position: absolute;
  right: 162px;
  bottom: calc(-88vh + 460px); // О нет, Дерьмовый Кальк :`(
}

.RussianFon {
  width: 100vw;
  position: relative;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
}

.RussianFon h1, .RussianFon h2, .RussianFon h3 {
  position: relative;
  color: var(--text-color);
  font-style: normal;
  margin-left: 160px;
}

.RussianFon h1 {
  font-size: 96px;
  top: 20vh;
  font-weight: 800 !important;
  line-height: 120px;
  letter-spacing: 0.4px;
  margin-top: 120px;
}

.RussianFon h2 {
  font-size: 44px;
  top: 23vh;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0.4px;
}

.RussianFon h3 {
  font-size: 18px;
  top: 25vh;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.4px;
}