@media screen and (max-width: 1600px) {
  .RussianFon {
    background-position-x: right !important;
    // height: 800px
  }

  #map {
    height: 980px !important;
  }
}

@media screen and (max-width: 1520px) {
  .RussianText {
    top: -1vh !important;
    position: absolute;
    max-width: 900px
  }

  .RussianFon h1 {
    font-size: 84px !important;
    line-height: 100px !important;
  }

  .RussianFon h2 {
    font-size: 38px !important;
    line-height: 60px !important;
  }

  .RussianFon h3 {
    font-size: 16px !important;
    line-height: 24px !important;
  }
  
  .RussianFon button {
    bottom: calc(-96vh + 20px) !important
  }
}

@media screen and (max-width: 1450px) {
  .RussianText {
    top: -4vh !important;
    position: absolute;
    max-width: 900px
  }
}

@media screen and (max-width: 1380px) {
  .RussianText {position: absolute;
    top: -2vh;
    margin-left: -10px;
    margin-bottom: 20px;
    max-width: 900px
  }

  #map {
    height: 116vh;
}
}

@media screen and (max-width: 1260px) {
  #map {
    height: 118vh;
}

  .RussianText {
    margin-left: -20px;
    margin-bottom: 20px;
  }

  .RussianFon h1 {
    font-size: 72px !important;
    line-height: 90px !important;
  }

  .RussianFon h2 {
    font-size: 36px !important;
    line-height: 54px !important;
  }

  .RussianFon h3 {
    font-size: 14px !important;
    line-height: 22px !important;
  }

  .RussianFon button {right: 142px !important;
    font-size: 16px !important;
    border: 1.8px solid var(--target-color) !important;
    box-shadow: 0px 0px 9px 0px var(--shadow-color);
    padding: 14px 20px 14px 20px !important;}
}

@media screen and (max-width: 1200px) {
  header {
    height: 200px !important
  }

  header img {
    margin-left: 140px !important
  }

  header button {
    top: 120px;
    font-size: 16px !important;
    border: 1.6px solid var(--target-color) !important;
    box-shadow: 0px 0px 8px 0px var(--shadow-color) !important;
    padding: 12px 18px 12px 18px !important;
    right: 142px !important}

  #map {
    height: 864px !important;
  }

  .RussianText {
    margin-left: -30px;
  }
  
  .RussianFon h1 {
    font-size: 64px !important;
    line-height: 86px !important;
  }

  .RussianFon h2 {
    max-width: 580px !important;
    font-size: 30px !important;
    line-height: 44px !important;
  }

  .RussianFon h3 {
    font-size: 12px !important;
    line-height: 22px !important;
  }
}

@media screen and (max-width: 1100px) {
  header {
    position: absolute !important
  }

  header img {
    margin-left: 120px !important
  }

  .RussianText {
    margin-left: -40px;
  }
  
  .RussianFon h1 {
    font-size: 58px !important;
    line-height: 78px !important;
  }

  .RussianFon h2 {
    max-width: 540px !important;
    font-size: 28px !important;
    line-height: 40px !important;
  }

  .RussianFon h3 {
    max-width: 540px !important;
    font-size: 11px !important;
    line-height: 22px !important;
  }

  #map {
    height: 134vh;
  }
}

@media screen and (max-width: 1040px) {
  header img {
    margin-left: 110px !important
  }

  .RussianText {
    margin-left: -48px;
  }

  header button {
    font-size: 14px !important;
    padding: 12px 17px 12px 17px !important;
  }

  .RussianFon h1 {
    font-size: 56px !important;
    line-height: 68px !important;
  }

  .RussianFon h2 {
    max-width: 520px !important;
    font-size: 26px !important;
    line-height: 36px !important;
  }

  .RussianFon h3 {
    max-width: 540px !important;
    font-size: 10px !important;
    line-height: 20px !important;
  }

  .RussianFon button {right: 112px !important;
    font-size: 14px !important;
    border: 1.8px solid var(--target-color) !important;
    box-shadow: 0px 0px 8px 0px var(--shadow-color) !important;
    padding: 12px 17px 12px 17px !important;}

  #map {
    height: 135vh;
  }
}

@media screen and (max-width: 980px) {
  header img {
    margin-left: 100px !important
  }

  .RussianText {
    margin-left: -56px;
  }
  
  .RussianFon h1 {
    font-size: 52px !important;
    line-height: 68px !important;
  }

  .RussianFon h2 {
    max-width: 1500px !important;
    font-size: 26px !important;
    line-height: 34px !important;
  }

  .RussianFon h3 {
    max-width: 500px !important;
    font-size: 14px !important;
    line-height: 20px !important;
  }

  #map {
    height: 140vh;
  }
}

@media screen and (max-width: 940px) {
  header img {
    margin-left: 90px !important
  }

  .RussianText {
    margin-left: -56px;
  }
  
  .RussianFon h1 {
    font-size: 52px !important;
    line-height: 64px !important;
  }

  .RussianFon h2 {
    max-width: 600px !important;
    font-size: 24px !important;
    line-height: 32px !important;
  }

  .RussianFon h3 {
    max-width: 500px !important;
    font-size: 10px !important;
    line-height: 20px !important;
  }

  #map {
    height: 141vh;
  }
}

@media screen and (max-width: 880px) {
  header img {
    margin-left: 80px !important
  }

  header button {
    padding: 11px 16px 11px 16px !important;
  }

  .RussianText {
    margin-left: -64px;
    top: -1vh !important;
  }
  
  .RussianFon h1 {
    font-size: 48px !important;
    line-height: 56px !important;
  }

  .RussianFon h2 {
    max-width: 400px !important;
    font-size: 20px !important;
    line-height: 32px !important;
  }

  .RussianFon h3 {
    max-width: 440px !important;
    font-size: 8px !important;
    line-height: 18px !important;
  }

  .RussianFon button {right: 112px !important;
    font-size: 13px !important;
    border: 1.5px solid var(--target-color) !important;
    box-shadow: 0px 0px 7px 0px var(--shadow-color) !important;
    padding: 11px 16px 11px 16px !important;}
}

@media screen and (max-width: 840px) {
  header img {
    margin-left: 70px !important
  }

  header button {
    padding: 12px 14px 12px 14px !important;
  }

  .RussianText {
    margin-left: -68px;
  }
  
  .RussianFon h1 {
    font-size: 46px !important;
    line-height: 54px !important;
  }

  .RussianFon h2 {
    max-width: 400px !important;
    font-size: 18px !important;
    line-height: 30px !important;
  }

  .RussianFon h3 {
    max-width: 400px !important;
    font-size: 8px !important;
    line-height: 16px !important;
  }

  .RussianFon button {
    right: 108px !important;
    font-size: 12px !important;
    border: 1.4px solid var(--target-color) !important;
    box-shadow: 0px 0px 7px 0px var(--shadow-color) !important;
    padding: 10px 15px 10px 15px !important;
  }
}

@media screen and (max-width: 800px) {
  header img {
    margin-left: 60px !important
  }

  .RussianText {
    margin-left: -74px;
    top: 0vh !important;
  }

  header button {
    padding: 12px 13px 12px 13px !important;
  }
  
  .RussianFon h1 {
    font-size: 42px !important;
    line-height: 48px !important;
  }

  .RussianFon h2 {
    max-width: 380px !important;
    font-size: 16px !important;
    line-height: 26px !important;
  }

  .RussianFon h3 {
    max-width: 440px !important;
    font-size: 7px !important;
    line-height: 18px !important;
  }

  .RussianFon button {
    right: 94px !important;
    font-size: 10px !important;
    border: 1.2px solid var(--target-color) !important;
    box-shadow: 0px 0px 6px 0px var(--shadow-color) !important;
    padding: 9px 14px 9px 14px !important;
  }

  #map {
    height: 145vh;
  }
}

@media screen and (max-width: 770px) {
  header {
    padding-top: 28px !important;
    height: 180px !important
  }

  header img {
    margin-left: 50px !important
  }

  .RussianText {
    margin-left: -78px;
  }

  header button {
    padding: 11px 12px 11px 12px !important;
    margin-top: -12px;
  }
  
  .RussianFon h1 {
    font-size: 40px !important;
    line-height: 42px !important;
  }

  .RussianFon h2 {
    max-width: 380px !important;
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .RussianFon h3 {
    max-width: 440px !important;
    font-size: 7px !important;
    line-height: 16px !important;
  }

  .RussianFon button {
    bottom: calc(-100vh + 18px) !important;
    right: 92px !important;
    font-size: 10px !important;
    border: 1px solid var(--target-color) !important;
    box-shadow: 0px 0px 5px 0px var(--shadow-color) !important;
    padding: 8px 13px 8px 13px !important;
    border-radius: 10px !important;
  }

  #map {
    height: 146vh;
  }
}

@media screen and (max-width: 740px) {
  header {
    padding-top: 28px !important;
    height: 170px !important
  }

  header img {
    margin-left: 40px !important
  }

  .RussianText {
    margin-left: -82px;
  }

  header button {
    margin-top: -16px;
  }
  
  .RussianFon h1 {
    font-size: 38px !important;
    line-height: 40px !important;
  }

  .RussianFon h2 {
    max-width: 340px !important;
    font-size: 12px !important;
    line-height: 18px !important;
  }

  .RussianFon h3 {
    max-width: 400px !important;
    font-size: 6px !important;
    line-height: 14px !important;
  }

  #map {
    height: 148vh;
  }
}

@media screen and (max-width: 710px) {
  header {
    padding-top: 24px !important;
    height: 160px !important
  }

  header img {
    margin-left: 30px !important
  }

  header h1 {
    max-width: 540px;
  }

  .RussianText {
    top: -3vh !important;
    margin-left: -86px;
  }

  header button {
    margin-top: -22px;
    padding: 10px 11px 10px 11px !important;
  }
  
  .RussianFon h1 {
    font-size: 36px !important;
    line-height: 38px !important;
  }

  .RussianFon h2 {
    max-width: 320px !important;
    font-size: 12px !important;
    line-height: 16px !important;
  }

  .RussianFon h3 {
    max-width: 440px !important;
    font-size: 6px !important;
    line-height: 12px !important;
  }

  .RussianFon button {
    right: 82px !important;
    font-size: 8px !important;
    box-shadow: 0px 0px 4px 0px var(--shadow-color) !important;
    padding: 8px 10px 8px 10px !important;
    border-radius: 8px !important;
  }

  #map {
    height: 150vh;
  }
}

@media screen and (max-width: 680px) {
  header img {
    margin-left: 30px !important
  }

  header h1 {
    max-width: 540px;
  }

  #map {
    height: 170vh;
  }
}

@media screen and (max-width: 650px) {

  header {
    height: 230px !important
  }

  header button {
    margin-top: 40px;
    padding: 12px 11px 12px 11px !important;
    border: 1.4px solid var(--target-color) !important;
    box-shadow: 0px 0px 7px 0px var(--shadow-color) !important;
  }

  .RussianText {
    top: 18vh !important;
  }

  .RussianFon button {
    bottom: -130vh !important;
    right: 82px !important;
    font-size: 8px !important;
    box-shadow: 0px 0px 4px 0px var(--shadow-color) !important;
    padding: 8px 10px 8px 10px !important;
    border-radius: 8px !important;
  }

  #map {
    height: 1700px;
  }}

@media screen and (max-width: 620px) {
  header h1 {
    max-width: 380px
  }

  .RussianText {
    margin-left: -92px;
  }
  
  .RussianFon h1 {
    font-size: 34px !important;
    line-height: 46px !important;
  }

  .RussianFon h2 {
    max-width: 320px !important;
    font-size: 16px !important;
    line-height: 24px !important;
  }

  .RussianFon h3 {
    max-width: 440px !important;
    font-size: 6px !important;
    line-height: 16px !important;
  }

  .RussianFon button {
    bottom: -150vh !important;
    right: 72px !important;
    font-size: 6px !important;
    box-shadow: 0px 0px 3px 0px var(--shadow-color) !important;
    padding: 6px 8px 6px 8px !important;
    border-radius: 6px !important;
  }
}

@media screen and (max-width: 540px) {
  header button {
    justify-content: center;
    right: 152px !important;
    padding: 12px 11px 12px 11px !important;
    box-shadow: 0px 0px 6px 0px var(--shadow-color) !important;
    display: flex
  }

  .RussianText {
    margin-left: -112px;
  }

  .RussianFon {
    margin-top: 20px !important
  }
  
  .RussianFon h1 {
    font-size: 32px !important;
    line-height: 40px !important;
  }

  .RussianFon h2 {
    max-width: 280px !important;
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .RussianFon h3 {
    max-width: 440px !important;
    font-size: 6px !important;
    line-height: 16px !important;
  }

  .RussianFon button {
    bottom: -160vh !important;
    right: 62px !important;
    font-size: 5px !important;
    border: 0.8px solid var(--target-color) !important;
    box-shadow: 0px 0px 2px 0px var(--shadow-color) !important;
    padding: 5px 6px 5px 6px !important;
    border-radius: 6px !important;
  }
}

@media screen and (max-width: 480px) {
  header button {
    border: 1.2px solid var(--target-color) !important;
    padding: 12px 12px 12px 12px !important;
    box-shadow: 0px 0px 5px 0px var(--shadow-color) !important;
    right: 122px !important
  }

  .RussianText {
    margin-left: -116px;
  }
  
  .RussianFon h1 {
    font-size: 28px !important;
    line-height: 38px !important;
  }

  .RussianFon h2 {
    max-width: 260px !important;
    font-size: 12px !important;
    line-height: 18px !important;
  }

  .RussianFon h3 {
    max-width: 440px !important;
    font-size: 5px !important;
    line-height: 16px !important;
  }

  .RussianFon button {
    bottom: -170vh !important;
    right: 52px !important;
    font-size: 5px !important;
    box-shadow: 0px 0px 1px 0px var(--shadow-color) !important;
    padding: 5px 6px 5px 6px !important;
    border-radius: 6px !important;
  }
}

@media screen and (max-width: 450px) {
  header{
    height: 380px !important
  }

  header img {
    margin-left: 200px !important
  }

  header h1 {
    margin-left: 150px !important;
    margin-top: 80px !important;
    position: absolute;
    display: flex;
    max-width: 240px
  }

  header button {
    right: 120px !important;
    padding: 11px 10px 11px 10px !important;
    box-shadow: 0px 0px 4px 0px var(--shadow-color) !important;
    margin-top: 160px
  }

  .RussianFon {
    margin-top: 180px !important
  }

  .RussianText {
    margin-left: -120px;
  }
  
  .RussianFon h1 {letter-spacing: 2px !important;
    font-size: 28px !important;
    line-height: 38px !important;
  }

  .RussianFon h2 {letter-spacing: 1px !important;
    max-width: 200px !important;
    font-size: 12px !important;
    line-height: 18px !important;
  }

  .RussianFon h3 {
    max-width: 440px !important;
    font-size: 5px !important;
    line-height: 16px !important;
  }
}

@media screen and (max-width: 430px) {
  header img {
    margin-left: 190px !important
  }
}

@media screen and (max-width: 420px) {
  header button {
    border: 1px solid var(--target-color) !important;
    padding: 12px 9px 12px 9px !important;
    box-shadow: 0px 0px 3px 0px var(--shadow-color) !important;
    right: 110px !important
  }

  header img {
    margin-left: 180px !important
  }

  header h1 {
    margin-left: 130px !important
  }

  .RussianFon {
    margin-top: 200px !important
  }

  .RussianText {
    margin-left: -120px;
  }
  
  .RussianFon h1 {letter-spacing: 2px !important;
    font-size: 24px !important;
    line-height: 32px !important;
  }

  .RussianFon h2 {letter-spacing: 1px !important;
    max-width: 160px !important;
    font-size: 10px !important;
    line-height: 16px !important;
  }

  .RussianFon h3 {
    max-width: 440px !important;
    font-size: 4px !important;
    line-height: 16px !important;
  }

  .RussianFon button {
    bottom: -180vh !important;
    right: 32px !important;
    font-size: 5px !important;
    border: 0.6px solid var(--target-color) !important;
    padding: 5px 6px 5px 6px !important;
    border-radius: 6px !important;
  }
}

@media screen and (max-width: 390px) {
  header button {
    box-shadow: 0px 0px 2px 0px var(--shadow-color) !important;
    padding: 11px 8px 11px 8px !important;
    right: 100px !important
  }

  header img {
    margin-left: 168px !important
  }

  header h1 {
    margin-left: 120px !important
  }

  .RussianFon {
    margin-top: 200px !important
  }

  .RussianText {
    margin-left: -124px;
  }
  
  .RussianFon h1 {letter-spacing: 2px !important;
    font-size: 20px !important;
    line-height: 28px !important;
  }

  .RussianFon h2 {letter-spacing: 1px !important;
    max-width: 160px !important;
    font-size: 10px !important;
    line-height: 14px !important;
  }

  .RussianFon h3 {
    max-width: 440px !important;
    font-size: 4px !important;
    line-height: 16px !important;
  }
}

@media screen and (max-width: 370px) {
  header button {
    box-shadow: 0px 0px 1px 0px var(--shadow-color) !important;
    padding: 10px 6px 10px 6px !important;
    right: 90px !important
  }

  header img {
    margin-left: 156px !important
  }

  header h1 {
    margin-left: 110px !important
  }

  .RussianFon {
    margin-top: 210px !important
  }

  .RussianText {
    margin-left: -124px;
  }
  
  .RussianFon h1 {letter-spacing: 2px !important;
    font-size: 18px !important;
    line-height: 24px !important;
  }

  .RussianFon h2 {letter-spacing: 1px !important;
    max-width: 160px !important;
    font-size: 8px !important;
    line-height: 12px !important;
  }

  .RussianFon h3 {
    max-width: 440px !important;
    font-size: 4px !important;
    line-height: 12px !important;
  }
}

@media screen and (max-width: 350px) {header button {right: 80px !important}
header img {margin-left: 146px !important}
header h1 {margin-left: 80px !important}}

@media screen and (max-width: 340px) {header button {right: 70px !important}
header img {margin-left: 136px !important}
header h1 {margin-left: 70px !important}}

@media screen and (max-width: 310px) {
  header button {
    padding: 8px 5px 8px 5px !important;
    right: 60px !important
  }

  header img {
    margin-left: 126px !important
  }

  header h1 {
    margin-left: 80px !important
  }

  .RussianFon {
    margin-top: 210px !important
  }

  .RussianText {
    margin-left: -128px;
  }
  
  .RussianFon h1 {letter-spacing: 2px !important;
    font-size: 16px !important;
    line-height: 20px !important;
  }

  .RussianFon h2 {letter-spacing: 1px !important;
    max-width: 140px !important;
    font-size: 7px !important;
    line-height: 10px !important;
  }

  .RussianFon h3 {
    max-width: 120px !important;
    font-size: 4px !important;
    line-height: 8px !important;
  }

  .RussianFon button {
    right: 32px !important;
    font-size: 4px !important;
    border: 0.4px solid var(--target-color) !important;
    padding: 3px 4px 3px 4px !important;
    border-radius: 4px !important;
  }
}

@media screen and (max-width: 280px) {header button {right: 46px !important}
header img {margin-left: 114px !important}
header h1 {margin-left: 50px !important}}

@media screen and (max-width: 260px) {header h1 {margin-left: 50px !important}
header img {margin-left: 104px !important}}