:root {
  --header-color: #010612;
  --target-color: #C09139;
  --hover-color: #805A13;
  --active-color: #48330C;
  --text-color: #fafafa;
  --popup-color: #2a1d15;
  --transition-ive: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {display: flex;
  justify-content: center;
}

.RussianFon {width: 100vw;
  height: 100vh;
  margin-top: 3vh;
  background-image: url(../../public/Mapp.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
}

header {position: fixed;
  display: flex;
  justify-content: flex-start;
  background-color: var(--header-color);
  z-index: 1001;
  width: 100vw;
  height: 120px;
  padding-top: 32px;
  top: 0;
  left: 0;
  color: var(--text-color)}

header img {margin-left: 160px}

header h1 {font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 48px;
  margin-top: -2px;
  letter-spacing: 2px;
  margin-left: 8px}

header button {font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  font-size: 18px;
  padding: 15px 22px 15px 22px;
  letter-spacing: 1px;
  right: 162px;
  cursor: pointer;
  transition: var(--transition-ive);
  color: var(--text-color);
  background-color: var(--target-color);
  border: 2px solid var(--target-color);
  position: absolute}

header button:hover {transition: var(--transition-ive);
  background-color: var(--hover-color);
  border: 2px solid var(--hover-color)}

header button:active {transition: var(--transition-ive);
  background-color: var(--active-color);
  border: 2px solid var(--active-color)}