#admap {
    width: 100%;
	height: 550px !important;
    border-radius: 8px;
}

#admap-wrapper {
  	position: relative;
	height: 550px !important;
}

// #admap-wrapper .country-label.is-hidden {
//   opacity: 1 !important;
// }