@use 'sass:color';
@use 'sass:math';

$card-bg-color: rgb(25, 36, 71);
$text-color-primary: #ffffff;
$text-color-secondary: #c0c0c0;
$button-bg-color: #4a75b2;
$button-text-color: #ffffff;
$border-radius: 8px;
$padding-main: 15px;

.event-tooltip-card {
  position: absolute;
  z-index: 1000;
  width: auto;
  background-color: $card-bg-color;
  border-radius: $border-radius;
  padding: 36px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: $text-color-primary;
  font-family: Arial, sans-serif;
  border: 2px solid rgb(78, 105, 150);
  display: flex;
  flex-direction: column;
  gap: 12px;

  .event-tooltip-close-btn {
    position: absolute;
    top: 6px;
    right: 6px;
    background: none;
    border: none;
    color: rgb(86, 133, 188);
    font-size: 32px;
    font-weight: 100 !important;
    cursor: pointer;
    line-height: 1;
    padding: 0 5px;
    transition: all 0.3s ease;
    &:hover {
      transition: all 0.3s ease;
      color: #4a75b2;
    }
  }

  .event-tooltip-header {
    display: flex;
    gap: 10px;
    align-items: flex-start;

    .event-tooltip-image-placeholder {
      width: 200px;
      height: 100px;
      background-color: #5a7ea8;
      border-radius: math.div($border-radius, 2);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      svg {
        color: rgba($text-color-primary, 0.5);
      }

      .event-tooltip-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
      }
    }

    .event-tooltip-info {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 3px;

      .event-tooltip-title {
        margin: 0;
        font-size: 20px;
        font-weight: 500 !important;
        line-height: 1.2;
        letter-spacing: 0.4px;
      }

      .event-tooltip-date {
        font-size: 18px;
        font-weight: 500 !important;
        line-height: 1.2;
        margin-top: 2px;
        right: 14px;
        position: absolute;
      }
    }
  }

  .event-tooltip-description {
    font-size: 18px;
    position: relative;
    display:block;
    width: 500px;
    line-height: 1.4;
    margin-top: 20px;
  }

  .event-tooltip-learn-more-btn {
    background-color: $button-bg-color;
    color: $button-text-color;
    font-weight: 100;
    border: none;
    border-radius: 14px;
    padding: 20px 15px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: color.adjust($button-bg-color, $lightness: -10%);
    }

    &:active {
      background-color: color.adjust($button-bg-color, $lightness: -15%);
    }
  }
}

.event-tooltip-card--popup {
  position: relative;
  top: auto;
  left: auto;
  z-index: auto;
}
