.leaflet-popup.event-marker-popup {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
	
  &.event-marker-popup-fade-out {
	  opacity: 0;
	  transform: translateY(-6px);
  }
}

.leaflet-marker-icon {
  filter: brightness(1);
  transition: all 0.3s ease;

  &:hover {
	  filter: brightness(0.8); 
	  transition: all 0.3s ease;
  }

  &:active,
  &:focus,
  &.clicked,
  .marker.clicked {
  	filter: brightness(0.6);
	  transition: all 0.3s ease;
  }
}